{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"]
}
